.destination {
  padding: rem(50) 0;

  &__slide {
    position: relative;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: rem(32);
    gap: rem(10);
    font-size: rem(14);

    @media (max-width: $tablet) {
      font-size: rem(28);
    }

    .swiper-pagination-bullet {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: rem(34);
      height: rem(34);
      font-weight: 300;
      font-size: rem(24);
      line-height: calc(100 / 24);
      color: var(--bg-accent);

      &:not(&:last-child) {
        margin-right: rem(12);
      }

      @media (max-width: $tablet) {
        display: none;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: var(--accent);
    }
  }
}
