.footer {
  background-color: var(--bg-accent);
  color: var(--text-invert);
  @include adaptiveValue('padding-top', 95, 45);
  @include adaptiveValue('padding-bottom', 50, 15);
  font-weight: 300;
  font-size: rem(16);
  line-height: calc(26 / 16);

  &__wrapper {
    display: flex;
    @include adaptiveValue('gap', 120, 20);
    text-transform: capitalize;

    @media (max-width: $tablet) {
      flex-wrap: wrap;
    }
  }

  &__column {
    flex: 1;
    min-width: rem(250);
  }

  &__title {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: rem(25);
    line-height: calc(100 / 25);
  }

  &__links {
    columns: 2;
    white-space: nowrap;
    li {
      margin-bottom: rem(11);
    }
  }

  &__rights {
    @include adaptiveValue('margin-top', 90, 35);
    text-align: center;
    line-height: 140%;
    span {
      color: var(--accent);
    }
  }

  form {
    display: flex;
    color: var(--bg-accent);
    margin-top: rem(17);
    border: 1px solid #fff;
    max-width: rem(440);

    input {
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.5);
      width: 100%;
      background-color: transparent;
      padding-left: rem(15);
    }
    button {
      padding: rem(10);
      background-color: var(--accent);
      text-transform: capitalize;
    }
  }
}
