.intro {
  position: relative;
  @include adaptiveValue('min-height', 1460, 950);
  background: url(../img/intro/intro_bg.jpg) center center/cover no-repeat;
  color: var(--text-invert);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(75);

  &__title {
    padding: 18% 0 0;
    max-width: 95%;
    text-transform: capitalize;
    color: var(--text-invert);

    @media (max-width: $mobile) {
      padding: 40% 0 0;
    }
  }

  &__descr {
    font-weight: 300;
    @include adaptiveValue('font-size', 40, 16);
    @include adaptiveValue('margin-bottom', 50, 25);
    line-height: calc(100 / 40);
    text-transform: lowercase;
    max-width: 95%;
  }

  &__social {
    position: absolute;
    right: 0;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(26);
    font-weight: 700;
    font-size: rem(18);
    line-height: calc(22 / 18);
    &-text {
      transform: rotate(90deg) translateX(-40%);
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }

  .spots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: rem(40);
    width: 100%;
    @include adaptiveValue('padding-left', math.div($containerPadding, 2), 15);
    @include adaptiveValue('padding-right', math.div($containerPadding, 2), 15);
    &__title {
      display: flex;
      gap: rem(26);
    }
    &__links {
      display: flex;
      justify-content: center;
      gap: rem(35);
      flex-wrap: wrap;
    }
    img {
      width: 100%;
    }

    &__name {
      font-weight: 300;
      font-size: rem(30);
      line-height: calc(100 / 30);
      text-transform: capitalize;
      text-align: center;
      &::before {
        content: '';
        display: block;
        background-color: var(--accent);
        height: rem(7);
        width: 100%;
        border-radius: rem(7);
      }
    }
  }
}
